In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/amiazza/Desktop/UK_Tourism Data_05.11.21.csv')

In [4]:
df

,Location,Indicator,Origin,Units,Scale,Measurement,2010,2011,2012,2013,...,Seasonally adjusted,Base year price,Base year index,Historical end,Date of last update,Source details,Additional source details,Contact email,Location code,Indicator code
0,Aberdeen (UK),% middle class households,-,%,NaN,% change y/y,0.57,4.84,2.96,2.32,...,False,NaN,NaN,NaN,21-Oct-21,Oxford Economics estimates,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,HHHOT_MC%
1,Aberdeen (UK),% middle class households,-,% of total households,%,Level values,0.78,0.82,0.84,0.86,...,False,NaN,NaN,NaN,21-Oct-21,Oxford Economics estimates,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,HHHOT_MC%
2,Aberdeen (UK),Domestic nights in paid accommodation,United Kingdom (Domestic),%,NaN,% change y/y,-42.40,1.56,10.91,25.37,...,False,NaN,NaN,2019.0,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,RNIGHTSTOT
3,Aberdeen (UK),Domestic nights in paid accommodation,United Kingdom (Domestic),Nights in paid accommodation,000s,Level values,1163.68,1181.82,1310.72,1643.22,...,False,NaN,NaN,2019.0,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,RNIGHTSTOT
4,Aberdeen (UK),Domestic overnight visits,United Kingdom (Domestic),%,NaN,% change y/y,-43.08,39.09,16.13,18.83,...,False,NaN,NaN,NaN,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,TOURRSTAY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,Sheffield (UK),Total domestic travel spend (US$ mn),-,US$,Millions,Level values,113.46,120.94,112.66,137.65,...,False,NaN,NaN,2019.0,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_SHE,DSPEND!$
5640,Sheffield (UK),Total inbound travel spend (US$ mn),-,%,NaN,% change y/y,-29.49,67.08,-15.05,107.67,...,False,NaN,NaN,2020.0,21-Oct-21,Tourism Economics,NaN,hmcdermott@oxfordeconomics.com,GBR_SHE,XFVS!$
5641,Sheffield (UK),Total inbound travel spend (US$ mn),-,US$,Millions,Level values,58.04,96.97,82.37,171.07,...,False,NaN,NaN,2020.0,21-Oct-21,Tourism Economics,NaN,hmcdermott@oxfordeconomics.com,GBR_SHE,XFVS!$
5642,Sheffield (UK),Unemployment rate,-,%,NaN,% change y/y,-4.91,16.08,7.82,-3.53,...,False,NaN,NaN,2019.0,21-Oct-21,ONS,NaN,hmcdermott@oxfordeconomics.com,GBR_SHE,UP
5643,Sheffield (UK),Unemployment rate,-,% labour force,%,Level values,8.62,10.00,10.78,10.40,...,False,NaN,NaN,2019.0,21-Oct-21,ONS,NaN,hmcdermott@oxfordeconomics.com,GBR_SHE,UP

In [5]:
df.head()

,Location,Indicator,Origin,Units,Scale,Measurement,2010,2011,2012,2013,...,Seasonally adjusted,Base year price,Base year index,Historical end,Date of last update,Source details,Additional source details,Contact email,Location code,Indicator code
0,Aberdeen (UK),% middle class households,-,%,NaN,% change y/y,0.57,4.84,2.96,2.32,...,False,NaN,NaN,NaN,21-Oct-21,Oxford Economics estimates,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,HHHOT_MC%
1,Aberdeen (UK),% middle class households,-,% of total households,%,Level values,0.78,0.82,0.84,0.86,...,False,NaN,NaN,NaN,21-Oct-21,Oxford Economics estimates,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,HHHOT_MC%
2,Aberdeen (UK),Domestic nights in paid accommodation,United Kingdom (Domestic),%,NaN,% change y/y,-42.40,1.56,10.91,25.37,...,False,NaN,NaN,2019.0,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,RNIGHTSTOT
3,Aberdeen (UK),Domestic nights in paid accommodation,United Kingdom (Domestic),Nights in paid accommodation,000s,Level values,1163.68,1181.82,1310.72,1643.22,...,False,NaN,NaN,2019.0,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,RNIGHTSTOT
4,Aberdeen (UK),Domestic overnight visits,United Kingdom (Domestic),%,NaN,% change y/y,-43.08,39.09,16.13,18.83,...,False,NaN,NaN,NaN,21-Oct-21,Visit Britain,NaN,hmcdermott@oxfordeconomics.com,GBR_ABD,TOURRSTAY

NameError: name 'df' is not defined